/*
 * JSONpedia - Convert any MediaWiki document to JSON.
 *
 * Written in 2014 by Michele Mostarda <mostarda@fbk.eu>.
 *
 * To the extent possible under law, the author has dedicated all copyright and related and
 * neighboring rights to this software to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * You should have received a copy of the CC BY Creative Commons Attribution 4.0 Internationa Public License.
 * If not, see <https://creativecommons.org/licenses/by/4.0/legalcode>.
 */

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

select {
    width: 70px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.label {
    margin: 1px;
}

.dropdown-list-button {
    font-size: 14px;
}

.post-response-html {
    width: 100%;
    height: 500px;
    border: none;
}

.fixedpos {
    z-index: 100;
    position: fixed;
    height: 50px;
    line-height: 40px;
    vertical-align: middle;
    top: 50px;
    left: 0;
    right: 0;
    padding-left: 20px;
}