/*
 * JSONpedia - Convert any MediaWiki document to JSON.
 *
 * Written in 2014 by Michele Mostarda <mostarda@fbk.eu>.
 *
 * To the extent possible under law, the author has dedicated all copyright and related and
 * neighboring rights to this software to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * You should have received a copy of the CC BY Creative Commons Attribution 4.0 Internationa Public License.
 * If not, see <https://creativecommons.org/licenses/by/4.0/legalcode>.
 */

body {
    font-family: 'Aldrich', sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}

.root {
    background-color: white;
}

.type {
    color: red;
}

.object {
    border: 1px  solid; padding: 2px;
}

.list {
    margin:2px; padding: 2px;
}

.table {
    background-color: #84dc7c;
}

.default-render {
    background-color: #8A5757;
    display:none;
}

.main {
    background-color: purple;
}

.section {
    background-color: #DC5858;
}

.reference {
    background-color: #c9acbd;
}

.link {
    background-color: #c722c9;
}

.links-link {
    margin: 5px;
}

.references-link {
    margin: 5px;
}

.templates-link {
    margin: 5px;
}

.categories-link {
    margin: 5px;
}

.mapping-value {
    color: purple;
}

.primitive {
    background-color: #00CCFF;
}

.citation {
    background-color: #b82825;
}

.cite-web {
    background-color: #DC9358;
}

.freebase {
    background-color: #f4ff11;
    padding: 5px;
}

/* Based on key names. */

.title {
    background-color: #8A5D37;
}

.url {
    background-color: #6F2C52
}

